[Unit]
Description=Auto Update System Timer For Birralee Update
Wants=network-online.target

[Timer]
OnBootSec=10min
OnUnitInactiveSec=6h
Persistent=true

[Install]
WantedBy=timers.target
