[Unit]
Description=Creates student user if it is missing

[Service]
Type=oneshot
ExecStart=/usr/libexec/student-user

[Install]
WantedBy=multi-user.target
